@using CoaxysProjectTracker.Models
@model List<Epic>
    
<h2>Epics List : </h2>



<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

            <div class="caption">
                <h1><a href="#">(+)</a></h1>
                <h3><a href="#">New Epic</a></h3>
            </div>

        </div>
    </div>
    @foreach (Epic epic in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@epic.Name</h3>
                    <p>@epic.Description</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Tasks</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>