@using  CoaxysProjectTracker.Models
@model List<Project>

@{ 
    ViewBag.Title = "Projets";
}

<h1>Projets</h1>

<div class="list list-project">
    <div class="row">
        <div class="col-md-4">
            <div class="list-item list-item-project new-project">
                <a href="#">
                    <h3><a href="#">
                        <i class="glyphicon glyphicon-plus"></i>
                        Nouveau projet
                    </a></h3>
                </a>
            </div>
        </div>
        @foreach (Project project in Model)
        {
            <div class="col-md-4">
                <div class="list-item list-item-project">
                    <h3>@project.Name</h3>
                    <p>@project.Description</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Epics</a>
                        <a href="#" class="btn btn-primary" role="button">Modify</a>
                    </p>
                </div>

            </div>
        }
    </div>
</div>
