@using  CoaxysProjectTracker.Entities
@model List<Project>

<div class="row">
    @foreach (Project project in Model)
    {
        <div class="col-md-3">
            @project.Name<br />
            @project.Description
        </div>
    }
</div>
