@model CoaxysProjectTracker.Models.Project
@{
    ViewBag.Title = "Home Page";
}

      
                 
    <div>
        <h2>
            @Html.ActionLink("Launch The Project Tracker", "Index", "Project")
        </h2>
        <h5>

            <p> Need Help ?</p>
            
            <a href="mailto:contact@coaxys.com"> Send an email to the Adminitrator </a>
            <a href="mailto:abc@abc.com?Subject=ABC&Body=Body">Contact us</a>
        </h5>
       
        
    </div>   
    